*{
  margin: 0;
  padding:0;
  
  
}

body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: beige;
  font-size: 20px;
 
}
h1{
  margin:30px;
  color: blue;
}
.locations{
  height:400px;
  width: 400px;
  display: flex;
  flex-direction:column;
  margin: 10px auto;
}
.location{
  flex:1;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 13px 40px;
  background-color:rgb(80, 83, 82) ;
  border: 1px solid #222;
}
.votecount{
border-radius: 50%;
display: flex;
align-items: center;
color: blueviolet;
justify-content: center;


}
.locations button{
  color: darkgoldenrod;
  border: none;
  font-size: 25px;
  outline:none;
  cursor:pointer;
background-color:rgb(102, 100, 105) ;}
.location button:hover{
  color: salmon;
  font-weight: bold;
}